.who-we-are {
  padding: 60px 20px;
  color: white;
}

.who-we-are .content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.chart {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 20px;
    height: 600px;
    width: 40%;
}

.chart .bar {
     width: 126px;
  background: #5F00FF;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
}

.chart .bar span {
  position: absolute;
  top:  -45px;
  font-size: 12px;
  text-align: center;
}

.stats {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
}
.stat-item{
    display: flex;
    align-items: center;
    width: 200px;
}
.stat-item span{
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
    color: rgba(255, 255, 255, 0.75);
}
.stat-item strong {
  font-size: 58px;
  display: block;
}
.description p{ 
  font-size: 24px;
  line-height: 197%;
  color: rgba(255, 255, 255, 0.75);

}
.description .active{
    font-size: 24px;
    color: #fff;
}
.cta-button {
  margin-top: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #5F00FF;
  color: white;
  border: none;
  cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}
.cta-button:hover {
    transform: scale(1.05);


}
